{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - Create Significant Other{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'bootstrap-validator-master/dist/validator.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Create a Significant Other</h2>
<hr />

<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'create_so' %}" method="post" data-toggle="validator">
{% csrf_token %}

  <div class="New Significant Other">

    {% if status.no_patient %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <b>No patient selected. Please select a patient.</b>
        </div>
    {% endif %}
    
    {% if status.so_created %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign"></span>
            <b>Successfully created an account for a significant other!</b>
        </div>
    {% endif %}

    {% if status.duplicate_username %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <b>Duplicate username. Please select another username.</b>
        </div>
    {% endif %}
    
    {% if status.smtp_error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <b>Error: email not sent.</b>
        </div>
        
    {% endif %}

<div class="form-group">
    <label for="title" class="col-sm-3 control-label">User Name</label>
    <div class="col-sm-9">
      <input type="text" name="userid" class="form-control" id="userid" placeholder="Type in username" maxlength="32" required>
      <p class="help-block">Create a user name for the significant other</a>
    </div>
  </div>
<div class="form-group">
    <label for="title" class="col-sm-3 control-label">User Email</label>
    <div class="col-sm-9">
      <input type="text" name="useremail" class="form-control" id="useremail" placeholder="Type in user email" maxlength="128" required>
      <p class="help-block">Enter an email address of the significant other</a>
    </div>
  </div>
  <div class="form-group">
    <label for="question" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input type="password" name="password" class="form-control" id="password" placeholder="Type in password" maxlength="32" required>
      <p class="help-block">Make sure the user can easily remember the password</p>
    </div>
  </div>

  </div>

<!-- Patient List Checkboxes -->
<div class="form-group">
    <label for="choosepatient" class="col-sm-3 control-label"> <!-- Select patient(s)--></label>
        <div class="col-sm-9"><p>Select patient(s) for whom the significant other is created for:</p>
        {% for patient in patients %}
        <input type="checkbox" name="chk_patients" value="{{patient.user.id}}" />{% firstof patient.user.get_full_name patient.user.username|title %}<br />
        {% endfor %}
    </div>
</div>

</div>
<div class="submit text-center">
    <input type="submit" class="btn btn-lg btn-success" value="Create"></input>
  </div>
</form>
{% endblock %}
