{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - New Survey{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block content %}
<h2>Create a new survey</h2>

<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'create_survey' %}" method="post">
    {% csrf_token %}

    {% if status.no_title %}
        <script type="text/javascript">
            $.notify.defaults({ globalPosition: "top center" });
            $.notify("No title provided. Please, enter a title.", "error");
        </script>
    {% endif %}

    <div class="New Survey">
        
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-9">
            <input type="text" name="title" class="form-control" id="title" placeholder="Type in title">
            <p class="help-block">Give a title to this survey</p>
        </div>
    </div>

    <div class="form-group">
        <label for="choosepatient" class="col-sm-3 control-label">Select patient(s)</label>
        <div class="col-sm-9"> <!-- <p>Select patient(s) for this survey:</p> -->
        {% for patient in patients %}
        <input type="checkbox" name="chk_patients" value="{{patient.user.id}}" />{% firstof patient.user.get_full_name patient.user.username|title %}<br />
        {% endfor %}
        </div>
    </div>
    </div>
    
    <center><a href="{% url 'create_survey' %}" class="list-group-item inactive"><i class="glyphicon glyphicon-plus text-success" style="margin-right: 10px;"></i>Add New Question</a></center>
    <center><a href="{% url 'create_survey' %}" class="list-group-item inactive"><i class="glyphicon glyphicon-plus text-success" style="margin-right: 10px;"></i>Select Question from the bank</a></center>

    <div class="submit text-center">
        <input type="submit" class="btn btn-lg btn-success" value="Create"></input>
        <a href="{% url 'manage_surveys' %}" class="btn btn-lg btn-success">Back</a>
    </div>
</form>

{% endblock %}
