{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - GAS Follow Up Meeting Create New Strategy{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}


{% block content %}
<h2>Follow Up Meeting - Create Strategy
  {% if user|is_physician %}
   - {% firstof patient.get_full_name patient.username|title %}
  {% endif %}
</h2>

<h5><center>Goal - {{ selected_goal.goal1 }}</center></h5><br/>
<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'followup_strategy_create' patient.id %}" method="post">
    {% csrf_token %}
	<div class="form-group">
         
	   <label for="goal" class="col-sm-3 control-label">Strategy Title:</label>
           <div class="col-sm-9">
             <input type="text" name="title" class="form-control" id="question" placeholder="Walking...">
	     <p class="help-block">Create a title for the Strategy.</a>
	   </div>

	   <label for="goal" class="col-sm-3 control-label">Importance:</label>
           <div class="col-sm-2">
             <input type="text" name="importance" class="form-control" id="importance" placeholder="1-4">
	    </div>
	   <div class="col-sm-7"><p class="help-block">1 = not important to 4 = extremely important</a></div>
	   <label for="goal" class="col-sm-3 control-label">Difficulty:</label>
           <div class="col-sm-2">
             <input type="text" name="difficulty" class="form-control" id="difficulty" placeholder="1-4">
	    </div>
  	   <div class="col-sm-7"><p class="help-block">1 = not difficult to 4 = extremely difficult</a></div>
	   
<!-- Drop Down Select Question -->
<div class="form-group">
    <label for="createanother" class="col-sm-3 control-label"></label>
    <div class="col-sm-9"><p>Would you like to create another strategy?</p>
      <select id="type" name="createanotherstrategy" class="form-control">
        <option value="yes">Yes, Create another strategy.</option>
        <option value="no">No, Continue to the next step.</option>
      </select>
    </div>
  </div>


<!--   Note:   some info from patient_list that i didnt like
  {% for patient in patients %}
  <a href="{% url 'user_graph' patient.user.id %}" class="list-group-item">{% firstof patient.user.get_full_name patient.user.username|title %}</a>
  {% endfor %} -->

</div>
  <div class="submit text-center">
    <input type="submit" class="btn btn-lg btn-success"></input>
  </div>
</form>
{% endblock %}
