{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - GAS Follow Up Meeting Strategy Planning{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'gas.css' %}">
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'jquery/jquery.js' %}"></script>
<script>
  $(function() {
    $( "#type" ).change(function() {
      $(".conditional-questions > div").hide();
      $(".conditional-questions #" + $(this).val()).show();
    });
    $("#type").prop('selectedIndex', -1);
  });
  function add_category() {
    var num = $("#cat-list > input").length + 1;
    $("#cat-list").append('<input type="text" id="cat' + num + '" name="cat' + num + '" class="form-control" placeholder="Category ' + num + '">');
    $("#cat-list > input").last().focus();
  }

  // Initialize all tooltips on this page.
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}

{% block content %}
<h2>Follow Up Meeting - Strategy Planning - {% firstof patient.get_full_name patient.username|title %}</h2>


<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'followup_strategy_planning' patient.id %}" method="post">
 <!-- <h4><center>Strategy Planning</center></h4> -->
 <h4><center>Goal - {{ selected_goal.goal1 }}</center></h4>
 <h4><center>Strategy - {{ selected_strategy.title }}</center></h4>
 <h5><center>Importance - {{ selected_strategy.importance }} out of 4, Difficulty - {{ selected_strategy.difficulty }} out of 4</center></h5><br/>

  {% csrf_token %}

<!-- ------------------------------------------------for Prequestion Entry -->
{% if type_selected_strategy == 'prequestion' %}
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label" data-toggle="tooltip" title="Give a concise title to this strategy">Title<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control" id="title" value="{{ selected_strategy.title }}">
    </div>
  </div>
  <div class="form-group">
    <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="The question that the patient is answering for this strategy">Question<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="text" class="form-control" id="question" placeholder="E.g. How many steps have you walked...">
      <p class="help-block">Type the question that you would like to appear to the user.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="Describe the question. Give any hints or instructions">Description<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="description" class="form-control" id="description" placeholder="E.g. Answer on a scale of 1-10">
    </div>
  </div>
          
	   <div class="form-group">
           <label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the current baseline situation of the patient?">Baseline<sup>?</sup></label>
           <div class="col-sm-10">
             <input type="text" name="baseline" class="form-control" id="question" placeholder="Enter the current baseline...">
           </div>
         </div>

	  <div class="form-group">
	    <label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the target outcome of this strategy?">Target<sup>?</sup></label>
	    <div class="col-sm-10">
	      <input type="text" name="goal" class="form-control" id="goal" placeholder="Set the target value...">
	    </div>
	  </div>

         <div class="New Patient Information">
           <div class="form-group">
           <label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="Time to reach the target (in days)">Timeline<sup>?</sup></label>
           <div class="col-sm-10">
             <input type="text" name="timeline" class="form-control" id="question" placeholder="Set timeline in days...">
           </div>
         </div>

        <div class="form-group">
          <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Indicator for tracking and evaluating the performance in this strategy">Indicator<sup>?</sup></label>
          <div class="col-sm-10">
            <input type="text" name="indicator" class="form-control" id="question" placeholder="Specify indicator...">
          </div>
         </div>

	<div class="form-group">
          <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Specify actions that need to be taken to achieve this strategy. Conider the questions What? When? How?">Action<sup>?</sup></label>
          <div class="col-sm-10">
            <input type="text" name="action" class="form-control" id="question" placeholder="Specify actions...">
          </div>
         </div>

<div class="form-group">
    <label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="Choose the type of the question">Question Type<sup>?</sup></label>
    <div class="col-sm-10">
      <select id="type" name="type" class="form-control">
        <option value="slider">Slider</option>
        <option value="boolean">Yes / No</option>
        <option value="integer">Numerical</option>
      </select>
    </div>
  </div>
  <div class="conditional-questions">
    <div id="slider" class="form-group" style="display: none;">
      <p class="help-block">Give the upper and lower bound for the slider, as well as the increment.</p>
      <div class="row text-center">
        <div class="col-sm-4">
          <label for="slider-min_value">Lower Bound</label>
          <input type="text" name="min_value" id="slider-min_value" class="form-control text-center" value="0">
        </div>
        <div class="col-sm-4">
          <label for="slider-max_value">Uppper Bound</label>
          <input type="text" name="max_value" id="slider-max_value" class="form-control text-center" value="100">
        </div>
        <div class="col-sm-4">
          <label for="slider-increment">Increment</label>
          <input type="text" name="increment" id="slider-increment" class="form-control text-center" value="5">
        </div>
      </div>
    </div>
    <div id="category" class="form-group" style="display: none;">
      <p class="help-block">Add categories for this question</p>
      <div id="cat-list">
        <input type="text" id="cat1" name="cat1" class="form-control" placeholder="Category 1">
      </div>
      <div class="text-center">
        <a href="#" onClick="add_category()" class="btn btn-default text-center"><i class="glyphicon glyphicon-plus text-success"></i> Add Category</a>
      </div>
    </div>
    <div id="integer" class="form-group" style="display: none;">
      <label for="units" class="col-sm-2 control-label" data-toggle="tooltip" title="Enter the units for this question">Units<sup>?</sup></label>
      <div class="col-sm-10">
        <input type="text" name="units" id="units" class="form-control" placeholder="E.g. kg, hours, snacks...">
      </div>
    </div>

<!--Bootstrap Table, should scale with mobile devices-->
<table>
	<thead>
	<tr>
		<th>Outcome Achievement</th>
		<th>Expected Level of Achievement</th>
		<th>Scaling</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Much more than expected</td>
	        <td>
		<div class="col-sm-9">
                <input type="text" name="scorepos2" class="form-control" id="question" placeholder="">
                </div>
                </td>
		<td>M2</td>
	</tr>

	<tr>
		<td>Slightly more than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scorepos1" class="form-control" id="question" placeholder="">
                </div>
		</td>
		<td>M1</td>
	</tr>
	
	<tr>
		<td>Expected Outcome (Target)</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="target2" class="form-control" id="question" value="{{ selected_strategy.target }}">
                </div>
		</td>
		<td>T</td>
	</tr>

	<tr>
		<td>Slightly less than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg1" class="form-control" id="question" placeholder="">
                </div>
		</td>
		<td>L1</td>
	</tr>

	<tr>
		<td>Much less than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg2" class="form-control" id="question" placeholder="">
                </div>
		</td>
		<td>L2</td>
	</tr>
	</tbody>
</table>

{% else %}

<!-- ------------------------------------------------------------------Depending on type of question -->
<div class="form-group">
    <label for="title" class="col-sm-2 control-label" data-toggle="tooltip" title="Give a concise title to this strategy">Title<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control" id="title" value="{{ selected_strategy.title }}">
    </div>
  </div>
  <div class="form-group">
    <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="The question that the patient is answering for this strategy">Question<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="text" class="form-control" id="question"  value="{{ selected_strategy.text }}">
      <p class="help-block">Type the question that you would like to appear to the user.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="Describe the question. Give any hints or instructions">Description<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="description" class="form-control" id="description" value="{{ selected_strategy.description }}">
    </div>
  </div>

	   <div class="form-group">
           <label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the current baseline situation of the patient?">Baseline<sup>?</sup></label>
           <div class="col-sm-10">
             <input type="text" name="baseline" class="form-control" id="question" value="{{ selected_strategy.baseline }}">
             
           </div>
         </div>

	  <div class="form-group">
	    <label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the target outcome of this strategy?">Target<sup>?</sup></label>
	    <div class="col-sm-10">
	      <input type="text" name="goal" class="form-control" id="goal" value="{{ selected_strategy.target }}">
	    </div>
	  </div>

         <div class="New Patient Information">
           <div class="form-group">
           <label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="Time to reach the target (in days)">Timeline<sup>?</sup></label>
           <div class="col-sm-10">
             <input type="text" name="timeline" class="form-control" id="question" value="{{ selected_strategy.timeline }}">
           </div>
         </div>

        <div class="form-group">
          <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Indicator for tracking and evaluating the performance in this strategy">Indicator<sup>?</sup></label>
          <div class="col-sm-10">
            <input type="text" name="indicator" class="form-control" id="question" value="{{ selected_strategy.indicator }}">
          </div>
         </div>

	<div class="form-group">
          <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Specify actions that need to be taken to achieve this strategy. Conider the questions What? When? How?">Action<sup>?</sup></label>
          <div class="col-sm-10">
            <input type="text" name="action" class="form-control" id="question" value="{{ selected_strategy.action }}">
          </div>
         </div>




<!-- ------------------------------------------------for Freeform Entry -->
{% if type_selected_strategy == 'freeform' %}
<div class="form-group">
    <label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="Choose the type of the question">Question Type<sup>?</sup></label>
    <div class="col-sm-10">
      <select value= "Numerical" selected="slider" id="type" name="type" class="form-control">
        <option selected="selected" value="integer">Numerical</option>
      </select>
    </div>
  </div>
  <div class="conditional-questions">
    <div id="integer" class="form-group" style="display: none;">
      <label for="units" class="col-sm-2 control-label" data-toggle="tooltip" title="Enter the units for this question">Units<sup>?</sup></label>
      <div class="col-sm-10">
        <input type="text" name="units" id="units" class="form-control" value="{{ selected_strategy.units }}">
      </div>
    </div>
{% endif %}

<!-- ------------------------------------------------for Boolean Entry -->
{% if type_selected_strategy == 'boolean' %}
<div class="form-group">
    <label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="Choose the type of the question">Question Type<sup>?</sup></label>
    <div class="col-sm-10">
      <select value="hi" id="type" name="type" class="form-control">
        <option value="boolean" selected="selected">Yes / No</option>
      </select>
    </div>
  </div>
{% endif %}

<!-- ------------------------------------------------for Slider Entry -->
{% if type_selected_strategy == 'slider' %}
<div class="form-group">
    <label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="Choose the type of the question"> Question Type<sup>?</sup></label>
    <div class="col-sm-10">
      <select value="slider" selected="slider" id="type" name="type" class="form-control">
        <option value="slider">Slider</option>
      </select>
    </div>
  </div>
  <div class="conditional-questions">
    <div id="slider" class="form-group" style="display: none;">
      <p class="help-block">Give the upper and lower bound for the slider, as well as the increment.</p>
      <div class="row text-center">
        <div class="col-sm-4">
          <label for="slider-min_value">Lower Bound</label>
          <input type="text" name="min_value" id="slider-min_value" class="form-control text-center" value="{{ selected_strategy.min_value }}">
        </div>
        <div class="col-sm-4">
          <label for="slider-max_value">Uppper Bound</label>
          <input type="text" name="max_value" id="slider-max_value" class="form-control text-center" value="{{ selected_strategy.max_value }}">
        </div>
        <div class="col-sm-4">
          <label for="slider-increment">Increment</label>
          <input type="text" name="increment" id="slider-increment" class="form-control text-center" value="{{ selected_strategy.increment }}">
        </div>
      </div>
    </div>
    </div>
{% endif %}


<!--Bootstrap Table, should scale with mobile devices-->


<table>
	<thead>
	<tr>
		<th>Outcome Achievement</th>
		<th>Expected Level of Achievement</th>
		<th>Scaling</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Much more than expected</td>
	        <td>
		<div class="col-sm-9">
                <input type="text" name="scorepos2" class="form-control" id="question" value="{{ selected_strategy.scorepos2 }}">
                </div>
                </td>
		<td>M2</td>
	</tr>

	<tr>
		<td>Slightly more than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scorepos1" class="form-control" id="question" value="{{ selected_strategy.scorepos1 }}">
                </div>
		</td>
		<td>M1</td>
	</tr>
	
	<tr>
		<td>Expected Outcome (Target)</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="target2" class="form-control" id="question" value="{{ selected_strategy.target }}">
                </div>
		</td>
		<td>T</td>
	</tr>

	<tr>
		<td>Slightly less than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg1" class="form-control" id="question" value="{{ selected_strategy.scoreneg1 }}">
                </div>
		</td>
		<td>L1</td>
	</tr>

	<tr>
		<td>Much less than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg2" class="form-control" id="question" value="{{ selected_strategy.scoreneg2 }}">
                </div>
		</td>
		<td>L2</td>
	</tr>
	</tbody>
</table>
<!-- ------------------------------------------------------------------END - Depending on type of question -->
{% endif %}  
  </div>
  <div class="submit text-center">
    <input value="Save" type="submit" class="btn btn-lg btn-success"></input>
  </div>
</form>
{% endblock %}
