{% extends 'base.html' %}
{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - Follow-Up Meeting Goal Planning{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'jquery/jquery.js' %}"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script src="{% static 'bootstrap-validator-master/dist/validator.js' %}"></script>

<script>
  $(function() {
    $( "#type" ).change(function() {
      $(".conditional-questions > div").hide();
      $(".conditional-questions #" + $(this).val()).show();
    });
    $("#type").prop('selectedIndex', -1);
  });
  function add_category() {
    var num = $("#cat-list > input").length + 1;
    $("#cat-list").append('<input type="text" id="cat' + num + '" name="cat' + num + '" class="form-control" placeholder="Category ' + num + '">');
    $("#cat-list > input").last().focus();
  }

  // Initialize all tooltips on this page.
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}

{% block content %}
<h2>Follow Up Meeting - Goal Planning
  {% if user|is_physician %}
   - {% firstof patient.get_full_name patient.username|title %}
  {% endif %}
</h2>

<h4><center><br>Goal - {{ selected_goal.goal1 }}<br><br></center></h4>

<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'followup_goal_planning' patient.id %}" method="post" data-toggle="validator">
    {% csrf_token %}

<!-- if no goal question, create one -->
{% if type_selected_strategy == 'noneavailable' %}
<div class="form-group">
    <a href="#"><label for="title" class="col-sm-2 control-label" data-toggle="tooltip" title="Give a concise title to this goal">Title<sup>?</sup>:</label></a>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control" id="title" value="{{ selected_goal.goal1 }}" placeholder="Enter a concise title..." maxlength="32" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>
<div class="form-group">
    <a href="#"><label for="title" class="col-sm-2 control-label" data-toggle="tooltip" title="Any factors that help or impede achieving this goal">Environmental Assessment<sup>?</sup>:</label></a>
    <div class="col-sm-10">
      <input type="text" name="environmentalassessment1" class="form-control" id="title" value="{{ selected_goal.environmentalassessment1 }}" placeholder="Describe the environment..." maxlength="512" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <a href="#"><label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Question that the patient is answering for this goal">Question<sup>?</sup>:</label></a>
    <div class="col-sm-10">
      <input type="text" name="text" class="form-control" id="question" placeholder="E.g. How many steps have you walked" maxlength="128" required>
      <p class="help-block">Type the question that you would like to appear to the user.</p>
    </div>
  </div>
  <div class="form-group">
    <a href="#"><label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="Describe the question. Give any hints or instructions to guide the patient in answering this question.">Description<sup>?</sup>:</label></a>
    <div class="col-sm-10">
      <input type="text" name="description" class="form-control" id="description" placeholder="E.g. Answer on a scale of 1-10" maxlength="512" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>

	   <div class="form-group">
           <a href="#"><label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the current baseline situation of the patient?">Baseline<sup>?</sup>:</label></a>
           <div class="col-sm-10">
             <input type="text" name="baseline" class="form-control" id="question" placeholder="Enter the current baseline..." maxlength="7" pattern="[0-9]+" data-error="Specify the baseline in digits." required>
             <div class="help-block with-errors"></div>
           </div>
         </div>

	  <div class="form-group">
	    <a href="#"><label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the target outcome of this goal?">Target<sup>?</sup>:</label></a>
	    <div class="col-sm-10">
	      <input type="text" name="goal" class="form-control" id="goal" placeholder="Set the target value..." maxlength="7" pattern="[0-9]+" data-error="Specify the target in digits." required>
          <div class="help-block with-errors"></div>
	    </div>
	  </div>

         <div class="New Patient Information">
           <div class="form-group">
           <a href="#"><label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="Time to reach the target (in days)">Timeline<sup>?</sup>:</label></a>
           <div class="col-sm-10">
             <input type="text" name="timeline" class="form-control" id="question" placeholder="Set timeline in days..." maxlength="4" pattern="[0-9]+" data-error="Specify the number of days (in digits)." required>
             <div class="help-block with-errors"></div>
           </div>
         </div>

        <div class="form-group">
          <a href="#"><label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Indicator for tracking and evaluating the performance in this goal">Indicator<sup>?</sup>:</label></a>
          <div class="col-sm-10">
            <input type="text" name="indicator" class="form-control" id="question" placeholder="Specify indicator..." maxlength="512" required>
            <div class="help-block with-errors"></div>
          </div>
         </div>

<div class="form-group">
    <a href="#"><label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="Select the type of the question">Question Type<sup>?</sup>:</label></a>
    <div class="col-sm-10">
      <select id="type" name="type" class="form-control" data-error="Please select a type of the question." required>
        <option value="slider">Slider</option>
        <option value="boolean">Yes / No</option>
        <option value="integer">Numerical</option>
      </select>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="conditional-questions">
    <div id="slider" class="form-group" style="display: none;">
      <p class="help-block">Give the upper and lower bound for the slider, as well as the increment.</p>
      <div class="row text-center">
        <div class="col-sm-4">
          <label for="slider-min_value">Lower Bound</label>
          <input type="text" name="min_value" id="slider-min_value" class="form-control text-center" value="0" placeholder="E.g. 0" maxlength="7">
        </div>
        <div class="col-sm-4">
          <label for="slider-max_value">Uppper Bound</label>
          <input type="text" name="max_value" id="slider-max_value" class="form-control text-center" value="100" placeholder="E.g. 100" maxlength="7">
        </div>
        <div class="col-sm-4">
          <label for="slider-increment">Increment</label>
          <input type="text" name="increment" id="slider-increment" class="form-control text-center" value="5" placeholder="E.g. 5" maxlength="7">
        </div>
      </div>
    </div>
    <div id="category" class="form-group" style="display: none;">
      <p class="help-block">Add categories for this question</p>
      <div id="cat-list">
        <input type="text" id="cat1" name="cat1" class="form-control" placeholder="Category 1">
      </div>
      <div class="text-center">
        <a href="#" onClick="add_category()" class="btn btn-default text-center"><i class="glyphicon glyphicon-plus text-success"></i> Add Category</a>
      </div>
    </div>
    <div id="integer" class="form-group" style="display: none;">
      <a href="#"><label for="units" class="col-sm-2 control-label" data-toggle="tooltip" title="Enter the units for this question">Units<sup>?</sup></label></a>
      <div class="col-sm-10">
        <input type="text" name="units" id="units" class="form-control" placeholder="E.g. kg, hours, snacks..." maxlength="32">
      </div>
    </div>

<!--Bootstrap Table, should scale with mobile devices-->
<table>
	<thead>
	<tr>
		<th>Outcome Achievement</th>
		<th>Expected Level of Achievement</th>
		<th>Scaling</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Much better than expected</td>
	        <td>
		<div class="col-sm-9">
                <input type="text" name="scorepos2" class="form-control" id="question" placeholder="" maxlength="7">
                </div>
                </td>
		<td>B2</td>
	</tr>

	<tr>
		<td>Slightly better than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scorepos1" class="form-control" id="question" placeholder="" maxlength="7">
                </div>
		</td>
		<td>B1</td>
	</tr>

	<!-- The value from this input is not recorded, because this is the same as target.
	Instead, the value of the target is used througout the app. -->
	<tr>
		<td>Expected outcome (Target)</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="same-as-target" class="form-control" id="question" placeholder="" maxlength="7">
                </div>
		</td>
		<td>T</td>
	</tr>

	<tr>
		<td>Slightly worse than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg1" class="form-control" id="question" placeholder="" maxlength="7">
                </div>
		</td>
		<td>W1</td>
	</tr>

	<tr>
		<td>Much worse than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg2" class="form-control" id="question" placeholder="" maxlength="7">
                </div>
		</td>
		<td>W2</td>
	</tr>
	</tbody>
</table>
{% else %}
<!-- ------------------------------------------------------------------Depending on type of question -->
<div class="form-group">
    <label for="title" class="col-sm-2 control-label" data-toggle="tooltip" title="Give a concise title to this goal">Title<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control" id="title" value="{{ selected_goal.goal1 }}" placeholder="Enter a concise title..." maxlength="32" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>
<div class="form-group">
    <label for="title" class="col-sm-2 control-label" data-toggle="tooltip" title="Any factors that help or impede achieving this goal">Environmental Assessment<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="environmentalassessment1" class="form-control" id="title" value="{{ selected_goal.environmentalassessment1 }}" placeholder="Describe the environment..." maxlength="512" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Question that the patient is answering for this goal">Question<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="text" class="form-control" id="question"  value="{{ selected_strategy.text }}" placeholder="Enter the question..." maxlength="128" required>
      <p class="help-block">Type the question that you would like to appear to the user.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="Describe the question. Give any hints or instructions to guide the patient in answering this question.">Description<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="description" class="form-control" id="description" value="{{ selected_strategy.description }}" placeholder="Describe the question..." maxlength="512" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>
          
	   <div class="form-group">
           <label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the current baseline situation of the patient?">Baseline<sup>?</sup></label>
           <div class="col-sm-10">
             <input type="text" name="baseline" class="form-control" id="question" value="{{ selected_strategy.baseline }}" placeholder="Enter the current baseline..." maxlength="7" pattern="[0-9]+" data-error="Specify a baseline in digits." required>
             <div class="help-block with-errors"></div>
           </div>
         </div>

	  <div class="form-group">
	    <label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the target outcome of this goal?">Target<sup>?</sup></label>
	    <div class="col-sm-10">
	      <input type="text" name="goal" class="form-control" id="goal" value="{{ selected_strategy.target }}" placeholder="Set the target value..." maxlength="7" pattern="[0-9]+" data-error="Specify a target in digits." required>
	      <div class="help-block with-errors"></div>
        </div>
	  </div>

         <div class="New Patient Information">
           <div class="form-group">
           <label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="Time to reach the target (in days)">Timeline<sup>?</sup></label>
           <div class="col-sm-10">
             <input type="text" name="timeline" class="form-control" id="question" value="{{ selected_strategy.timeline }}" placeholder="Set timeline in days..." maxlength="4" pattern="[0-9]+" data-error="Specify the number of days (in digits)." required>
             <div class="help-block with-errors"></div>
           </div>
         </div>

        <div class="form-group">
          <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Indicator for tracking and evaluating the performance in this goal">Indicator<sup>?</sup></label>
          <div class="col-sm-10">
            <input type="text" name="indicator" class="form-control" id="question" value="{{ selected_strategy.indicator }}" placeholder="Specify indicator..." maxlength="512" required>
            <div class="help-block with-errors"></div>
          </div>
         </div>

<!-- ------------------------------------------------for Freeform Entry -->
{% if type_selected_strategy == 'freeform' %}
<div class="form-group">
    <label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="The type of the question">Question Type<sup>?</sup></label>
    <div class="col-sm-10">
      <select value= "Numerical" selected="slider" id="type" name="type" class="form-control">
        <option selected="selected" value="integer">Numerical</option>
      </select>
    </div>
  </div>
  <div class="conditional-questions">
    <div id="integer" class="form-group" style="display: none;">
      <label for="units" class="col-sm-2 control-label" data-toggle="tooltip" title="Enter the units for this question">Units<sup>?</sup></label>
      <div class="col-sm-10">
        <input type="text" name="units" id="units" class="form-control" value="{{ selected_strategy.units }}" placeholder="E.g. kg, hours, snacks..." maxlength="32">
      </div>
    </div>
{% endif %}

<!-- ------------------------------------------------for Boolean Entry -->
{% if type_selected_strategy == 'boolean' %}
<div class="form-group">
    <label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="The type of the question">Question Type<sup>?</sup></label>
    <div class="col-sm-10">
      <select value="hi" id="type" name="type" class="form-control">
        <option value="boolean" selected="selected">Yes / No</option>
      </select>
    </div>
  </div>
{% endif %}

<!-- ------------------------------------------------for Slider Entry -->
{% if type_selected_strategy == 'slider' %}
<div class="form-group">
    <label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="The type of the question">Question Type<sup>?</sup></label>
    <div class="col-sm-10">
      <select value="slider" selected="slider" id="type" name="type" class="form-control">
        <option value="slider">Slider</option>
      </select>
    </div>
  </div>
  <div class="conditional-questions">
    <div id="slider" class="form-group" style="display: none;">
      <p class="help-block">Give the upper and lower bound for the slider, as well as the increment.</p>
      <div class="row text-center">
        <div class="col-sm-4">
          <label for="slider-min_value">Lower Bound</label>
          <input type="text" name="min_value" id="slider-min_value" class="form-control text-center" value="{{ selected_strategy.min_value }}" placeholder="E.g. 0" maxlength="7">
        </div>
        <div class="col-sm-4">
          <label for="slider-max_value">Uppper Bound</label>
          <input type="text" name="max_value" id="slider-max_value" class="form-control text-center" value="{{ selected_strategy.max_value }}" placeholder="E.g. 100" maxlength="7">
        </div>
        <div class="col-sm-4">
          <label for="slider-increment">Increment</label>
          <input type="text" name="increment" id="slider-increment" class="form-control text-center" value="{{ selected_strategy.increment }}" placeholder="E.g. 5" maxlength="7">
        </div>
      </div>
    </div>
    </div>
{% endif %}

<!--Bootstrap Table, should scale with mobile devices-->

<table>
	<thead>
	<tr>
		<th>Outcome Achievement</th>
		<th>Expected Level of Achievement</th>
		<th>Scaling</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Much better than expected</td>
	        <td>
		<div class="col-sm-9">
                <input type="text" name="scorepos2" class="form-control" id="question" value="{{ selected_strategy.scorepos2 }}" maxlength="7">
                </div>
                </td>
		<td>B2</td>
	</tr>

	<tr>
		<td>Slightly better than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scorepos1" class="form-control" id="question" value="{{ selected_strategy.scorepos1 }}" maxlength="7">
                </div>
		</td>
		<td>B1</td>
	</tr>

	<tr>
		<td>Expected Outcome (Target)</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="target2" class="form-control" id="question" value="{{ selected_strategy.target }}" maxlength="7">
                </div>
		</td>
		<td>T</td>
	</tr>

	<tr>
		<td>Slightly worse than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg1" class="form-control" id="question" value="{{ selected_strategy.scoreneg1 }}" maxlength="7">
                </div>
		</td>
		<td>W1</td>
	</tr>

	<tr>
		<td>Much worse than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg2" class="form-control" id="question" value="{{ selected_strategy.scoreneg2 }}" maxlength="7">
                </div>
		</td>
		<td>W2</td>
	</tr>
	</tbody>
</table>
<!--------------------------------------------------------------------END - Depending on type of question -->
{% endif %}

</div>

<div class="submit">
    <input value="Save" type="submit" class="btn btn-lg btn-success"></input>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
        Cancel
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cancel the changes?</h4>
        </div>
        <div class="modal-body">
            Any changes that you entered for this goal will not be saved.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a href="{% url 'followup_goaledit' patient.id %}"><button type="button" class="btn btn-danger">Cancel changes</button></a>
        </div>
        </div>
    </div>
    </div>
</div>

</form>
{% endblock %}
