{% extends 'base.html' %}
{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - Follow Up Meeting Edit Strategies{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block content %}
<h2>Follow Up Meeting - Edit Strategies
  {% if user|is_physician %}
   - {% firstof patient.get_full_name patient.username|title %}
  {% endif %}
</h2>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li><a href="{% url 'followup_goaledit' patient.id %}">Goal Edit</a></li>
  <li class="active">Strategy Edit</li>
</ol>

</br>
<center><h4>Current Goal - {{ selected_goal.goal1 }}</h4></center>
<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'followup_strategyedit' patient.id %}" method="post">
{% csrf_token %}
    </br>   
<center><h5>Current Active Strategies:</h5></center>
<!-- Display activated strategies -->
{% if selected_freeform_strategy_list %}

    {% for selectedstrat in selected_freeform_strategy_list %}
    <div class="row">
	<div class="col-md-2"><label for="goal">Title:</label></div>
	<div class="col-md-5" style="color:#737373">{{ selectedstrat.title }}</div>
	<div class="col-md-5">
	    <input value="Edit" name="edit{{ selectedstrat.id }}" type="submit" class="btn btn-lg btn-primary" style="padding:5px 10px; margin-bottom:2px"></input>
	    <input value="Deactivate" name="deactivate{{ selectedstrat.id }}" type="submit" class="btn btn-lg btn-primary" style="padding:5px 10px; margin-bottom:2px; "></input>
	</div>
    </div>

    <div class="row">
	<div class="col-md-2"><label for="goal">Question:</label></div>
	<div class="col-md-10" style="color:#737373">{{ selectedstrat.text }}</div>
    </div>

    <div class="row">
	<div class="col-md-2"><label for="goal">Difficulty:</label></div>
	<div class="col-md-3"style="color:#737373">{{ selectedstrat.difficulty }} out of 4</div>
	<div class="col-md-1"></div>
	<div class="col-md-3"><label for="goal">Readiness:</label></div>
	<div class="col-md-3" style="color:#737373">{{ selectedstrat.importance }} out of 4</div>
    </div>
</br>
{% endfor %}

{% else %}
            <center><strong>There are no active strategies.</strong></center><br/>
{% endif %}

   <div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10"><hr></div>
	<div class="col-md-1"></div>
   </div>

<center><h5>Deactivated Strategies:</h5></center>
<!-- Display all non active strategies -->
{% if nonactive_freeform_strategy_list %}

    {% for nonactivestrat in nonactive_freeform_strategy_list %} 
    <div class="row">
	<div class="col-md-2"><label for="goal">Title:</label></div>
	<div class="col-md-5" style="color:#737373">{{ nonactivestrat.title }}</div>
	<div class="col-md-5">
	    <input value="Edit" name="edit{{ nonactivestrat.id }}" type="submit" class="btn btn-lg btn-primary" style="padding:5px 10px; margin-bottom:2px"></input>
	    <input value="Activate" name="activate{{ nonactivestrat.id }}" type="submit" class="btn btn-lg btn-primary" style="padding:5px 10px; margin-bottom:2px; "></input>
	</div>
    </div>

    <div class="row">
	<div class="col-md-2"><label for="goal">Question:</label></div>
	<div class="col-md-10" style="color:#737373">{{ nonactivestrat.text }}</div>
   </div>

    <div class="row">
	<div class="col-md-2"><label for="goal">Difficulty:</label></div>
	<div class="col-md-3"style="color:#737373">{{ nonactivestrat.difficulty }} out of 4</div>
    <div class="col-md-1"></div>
	<div class="col-md-3"><label for="goal">Readiness:</label></div>
	<div class="col-md-3" style="color:#737373">{{ nonactivestrat.importance }} out of 4</div>
    </div>
</br>
{% endfor %}

{% else %}
            <center><strong>There are no deactivated strategies.</strong></center>
{% endif %}

</br>

<center><h5>Partially Defined Strategies:</h5></center><br>
<!-- Display all prequestion strategies -->
{% if prequestion_strategy_list %}

    {% for prequestionstrat in prequestion_strategy_list %} 
	<div class="row">
	<div class="col-md-2"><label for="goal">Title:</label></div>
	<div class="col-md-5" style="color:#737373">{{ prequestionstrat.title }}</div>
	<div class="col-md-5">
	    <input value="Edit + Activate" name="preedit{{ prequestionstrat.id }}" type="submit" class="btn btn-lg btn-primary" style="padding:5px 10px; margin-bottom:2px"></input>
	    <input value="Activate" name="activate{{ prequestionstrat.id }}" type="submit" class="btn btn-lg btn-primary" style="padding:5px 10px; margin-bottom:2px; display: none;"></input>
	</div>
    </div>

<div class="row">
	<div class="col-md-2"><label for="goal">Difficulty:</label></div>
	<div class="col-md-3"style="color:#737373">{{ prequestionstrat.difficulty }} out of 4</div>
	<div class="col-md-1"></div>
	<div class="col-md-3"><label for="goal">Readiness:</label></div>
	<div class="col-md-3" style="color:#737373">{{ prequestionstrat.importance }} out of 4</div>
   </div>
</br>
{% endfor %}

{% else %}
            <center><strong>There are no partially defined strategies.</strong></center><br/>
{% endif %}

</br>
<div class="submit text-center">
    <input value="Create New Strategy" name="ext" type="submit" class="btn btn-lg btn-success" style="margin-bottom:4px; "></input>
    <input value="Graph" name="ext" type="submit" class="btn btn-lg btn-success" style="margin-bottom:4px; margin-left:5px;"></input>
</div>

</form>
{% endblock %}
