{% extends 'base.html' %}
{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - GAS Step1{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'jquery/jquery.js' %}"></script>
<script>
  // Initialize all tooltips on this page.
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}

{% block content %}
<h2>Goal Attainment Wizard Step 1 - {% firstof patient.get_full_name patient.username|title %}</h2><br/>

<ol class="breadcrumb">
  <li>Step 1 - Identify Goals</li>
  <li style="color:#9e9e9e">Step 2</li>
  <li style="color:#9e9e9e">Step 3</li>
  <li style="color:#9e9e9e">Step 4</li>
  <li style="color:#9e9e9e">Step 5</li>
  <li style="color:#9e9e9e">Step 6</li>
</ol>

<h4><center>Identify the goal and assess the environment</center></h4><br/>
<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'gas_step1' patient.id %}" method="post">
  {% csrf_token %}
         <div class="New Goal Information">
           <div class="form-group">
           <label for="goal1" class="col-sm-3 control-label" data-toggle="tooltip" title="Give a concise title to the goal">Goal<sup>?</sup></label>
           <div class="col-sm-9">
             <input type="text" name="goal1" class="form-control" id="question" placeholder="E.g. Become healthier..."><br/>
             <!-- <p class="help-block">Enter a goal for the patient</a> -->
           </div>
         </div>

        <div class="form-group">
          <label for="environmentalassessment1" class="col-sm-3 control-label" data-toggle="tooltip" title="Any factors that help or impede achieving this goal">Environmental Assessment<sup>?</sup></label>
          <div class="col-sm-9">
            <input type="text" name="environmentalassessment1" class="form-control" id="question" placeholder="Describe the environment...">
            <!-- <p class="help-block">Describe the environment</p> -->
          </div>
         </div>


<!-- Drop Down Select Question -->
<!--
<div class="form-group">
    <label for="createanother" class="col-sm-3 control-label"></label>
    <div class="col-sm-9"><p>Would you like to create another goal?</p>
      <select id="type" name="createanother" class="form-control">
        <option value="yes">Yes, Create another goal.</option>
        <option value="no">No, Continue to the next step.</option>
      </select>
    </div>
  </div> -->

 

</div>
<div class="submit text-center">
   <input value="Create Another Goal" name="button" type="submit" class="btn btn-success btn-lg" style="margin-bottom:2px; ">
   <input value="Next" name="button" type="submit" class="btn btn-success btn-lg" style="margin-bottom:2px; ">
  </div>
</form>


{% endblock %}

