{% extends 'base.html' %}
{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - GAS Goal Summary Page{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'jquery/jquery.js' %}"></script>
<script>
  $(function() {
    $( "#type" ).change(function() {
      $(".conditional-questions > div").hide();
      $(".conditional-questions #" + $(this).val()).show();
    });
    $("#type").prop('selectedIndex', -1);
  });
  function add_category() {
    var num = $("#cat-list > input").length + 1;
    $("#cat-list").append('<input type="text" id="cat' + num + '" name="cat' + num + '" class="form-control" placeholder="Category ' + num + '">');
    $("#cat-list > input").last().focus();
  }
</script>
{% endblock %}

{% block content %}
<h2>Goal Attainment Goal Summary
  {% if user|is_physician %}
   - {% firstof patient.get_full_name patient.username|title %}
  {% endif %} - {{ selected_goal.goal1 }}
</h2>

<h4><center><br>Goal Summary<br><br></center></h4>
<!--<h5><center>Goal - {{ selected_goal.goal1 }}</center></h5>-->
<dir class="form-horizontal col-md-6 col-md-offset-3">
          
   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Goal:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal.goal1 }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Environmental Assessment:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal.environmentalassessment1 }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Question:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.text }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Importance:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal.importance }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Difficulty:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal.difficulty }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Baseline:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.baseline }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Target:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.target }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Timeline:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.timeline }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Indicator:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.indicator }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Gas Score +2:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.scorepos2 }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Gas Score +1:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.scorepos1 }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Gas Score -1:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.scoreneg1 }}</div>
   </div>

   <div class="row">
	<div class="col-md-5" style="text-align:right"><label for="goal">Gas Score -2:</label></div>
	<div class="col-md-7" style="color:#737373">{{ selected_goal_question.scoreneg2 }}</div>
   </div>



</div>

<div class="submit text-center">
    <a href="{% url 'new_strategy' patient.id %}" type="submit" class="btn btn-lg btn-success">Create Strategy</a>
  </div>

{% endblock %}
