{% extends 'base.html' %}
{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - Graph{% endblock %}

{% block css %}
<link href="{% static 'graph/css/nv.d3.css' %}" rel="stylesheet" type="text/css">
<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

svg {
  display: block;
}

#chart1 svg {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}
.dl-horizontal.popover-dl dt{
  width: 50px;
}
.dl-horizontal.popover-dl dd {
  margin-left: 70px;
  margin-right: 20px;
}
.pop-comment {
  word-wrap: break-word;
}
.nv-legendWrap {
  display: none;
}
</style>
{{ block.super }}
{% endblock %}

{% block script %}
<script>
function show_question(caller){
    var strategy_tag = $(caller).attr('data-tag');
    //console.log(strategy_tag, "Data_tag value");
    $(".strategy-questions > div").hide();
    $(".strategy-questions #" + strategy_tag).show();
}

// Initialize all tooltips on this page.
$(function() {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}

{% block content %}
<h2>

{% if user|is_physician or user|is_significant_other %}
    Follow-up Graph
    {% if user != graph_user %}
    - {% firstof graph_user.get_full_name graph_user.username|title %}
    {% endif %}
{% else %}
    Wellness Graph
{% endif %}

 <!-- 
  {% if user|is_physician %}
  <a href="{% url 'gas_step1' graph_user.id %}">Goal Attainment </a>
  <a href="{% url 'followup_goaledit' graph_user.id %}">Follow Up Meeting </a>
  {% endif %} -->
 
</h2>

<hr />
{% if selected_goal == '-1' %}
    {% if user|is_physician %}
    <h4><p>Looks like this patient has no goals created or selected.</p>
    Click the Goal Attainment Wizard button to start the goal attaining process.</h4>
    {% elif user|is_significant_other %}
    <h4><p>Looks like this patient doesn't have any goals set up yet.</p></h4>
    {% else %}
    <h4><p>Looks like you don't have any goals set up yet.</p>
    Please, contact your physician to start the goal attaining process.</h4>
    {% endif %}
{% endif %}
<!-- else statement, uncomment and add endif at the end
<h4> Goal - {{ selected_goal.goal1 }}</h4>
 -->

    {% if user|is_physician %}
        <div class="strategy-questions">
        {% for item in strategy_questions %}
            <div id="{{item.key}}" style="display: none;">Question: {{item.thequestion}}</div>
        {% empty %}
        <!-- No strategies for this goals-->
        {% endfor %}
        </div>
    {% endif %}



<div class="row">
  <div id="graph" class="text-left col-md-9 gui-container">
    <div id="chart" class='with-3d-shadow with-transitions'>
      <svg style="height: 500px;"></svg>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 col-sm-6">

	<!--Add Goal Attainment and Followup links above strategies -->
	{% if user|is_physician %}
	<div id="links" class="list-group">
	  
	  {% if at_least_1_goal == 'nogoal' %}
	  <center><a href="{% url 'gas_step1' graph_user.id %}" class="btn btn-info btn-lg">Goal Attainment Wizard</a></center></br>
	  {% else %}
	  <center><a href="{% url 'followup_goaledit' graph_user.id %}" class="btn btn-info btn-lg">Decision Making</a></center>
	  {% endif %}
	</div>
	{% endif %}


<!-- Goal Popup inforamtion -->
<!-- Modal -->
<div class="modal fade" id="goalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Goal - More Information</h4>
      </div>
      <div class="modal-body">
	    <div class="col-md-offset-1">
		
		{% for eachquestion in questions %} 
		{% if eachquestion.isgoalplanningdata = 1 %}
			<div>
			  <h4><strong>
			  <label>Goal:</label>
				{{ eachquestion.title }}</strong></h4>
			  <a href="#"><label data-toggle="tooltip" title="The question for this goal">Question<sup>?</sup>:</label></a>
				{{ eachquestion.text }}<br>
			  <a href="#"><label data-toggle="tooltip" title="Description of the question">Description<sup>?</sup>:</label></a>
				{{ eachquestion.description }}<br>
			  <a href="#"><label data-toggle="tooltip" title="The patient's starting point in this goal">Baseline<sup>?</sup>:</label></a>
				{{ eachquestion.baseline }}<br>
			  <a href="#"><label data-toggle="tooltip" title="The target outcome of this goal">Target<sup>?</sup>:</label></a>
				{{ eachquestion.target }}<br>
			  <a href="#"><label data-toggle="tooltip" title="Time to reach the target">Timeline<sup>?</sup>:</label></a>
				{{ eachquestion.timeline }} days<br>
			  <a href="#"><label data-toggle="tooltip" title="Indicator for tracking and evaluating the performance in this goal">Indicator<sup>?</sup>:</label></a>
				{{ eachquestion.indicator }}<br>
			  <a href="#"><label data-toggle="tooltip" title="Much better than expected">Score B2:</label></a>
				{{ eachquestion.scorepos2 }}<br>
			  <a href="#"><label data-toggle="tooltip" title="Slightly better than expected">Score B1:</label></a>
				{{ eachquestion.scorepos1 }}<br>
			  <a href="#"><label data-toggle="tooltip" title="The target (expected outcome)">Score T:</label></a>
				{{ eachquestion.target }}<br>
			  <a href="#"><label data-toggle="tooltip" title="Slightly worse than expected">Score W1:</label></a>
				{{ eachquestion.scoreneg1 }}<br>
			  <a href="#"><label data-toggle="tooltip" title="Much worse than expected">Score W2:</label></a>
				{{ eachquestion.scoreneg2 }}<br>
			</div>
		{% endif %}
        {% empty %}
            {% if user|is_physician %}
                {% if at_least_1_goal == 'nogoal' %}
                    This patient has no goals created or activated. To start the goal attaining process, click the Goal Attainment Wizard button.
                {% else %}
                    The goal set up was not finished. To finish, click the Decision Making or Edit Goals buttons.
                {% endif %}
            {% else %}
                There are no goals created or activated yet. You will find the detailed information about the goal when it is created and activated.
            {% endif %}
		{% endfor %}
	    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!--End Goal popup inforamtion -->

<!-- Strategy Popup inforamtion -->
<!-- Modal -->
<div class="modal fade" id="strategyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Strategies - More Information</h4>
      </div>
      <div class="modal-body">
	    <div class="col-md-offset-1">
		{% for eachquestion in questions %} 
		{% if eachquestion.isgoalplanningdata = 0 %}
		<div>
		  <h4><strong>
			{{ eachquestion.title }}</strong></h4>
		  <a href="#"><label data-toggle="tooltip" title="The question for this strategy">Question<sup>?</sup>:</label></a>
			{{ eachquestion.text }}<br>
		  <a href="#"><label data-toggle="tooltip" title="Description of the question">Description<sup>?</sup>:</label></a>
			{{ eachquestion.description }}<br>
		  <a href="#"><label data-toggle="tooltip" title="Difficulty of achieving this strategy">Difficulty<sup>?</sup>:</label></a>
			{{ eachquestion.difficulty }} out of 4<br>
		  <a href="#"><label data-toggle="tooltip" title="Readiness for this strategy">Readiness<sup>?</sup>:</label></a>
			{{ eachquestion.importance }} out of 4<br>
		  <a href="#"><label data-toggle="tooltip" title="The patient's starting point in this strategy">Baseline<sup>?</sup>:</label></a>
			{{ eachquestion.baseline }}<br>
		  <a href="#"><label data-toggle="tooltip" title="The target outcome of this strategy">Target<sup>?</sup>:</label></a>
			{{ eachquestion.target }}<br>
		  <a href="#"><label data-toggle="tooltip" title="Time to reach the target">Timeline<sup>?</sup>:</label></a>
			{{ eachquestion.timeline }} days<br>
		  <a href="#"><label data-toggle="tooltip" title="Indicator for tracking and evaluating the performance in this strategy">Indicator<sup>?</sup>:</label></a>
			{{ eachquestion.indicator }}<br>
		  <a href="#"><label data-toggle="tooltip" title="Actions to be taken to achieve this strategy">Actions<sup>?</sup>:</label></a>
			{{ eachquestion.action }}<br>
		  <a href="#"><label data-toggle="tooltip" title="Much better than expected">Score B2:</label></a>
			{{ eachquestion.scorepos2 }}<br>
		  <a href="#"><label data-toggle="tooltip" title="Slightly better than expected">Score B1:</label></a>
			{{ eachquestion.scorepos1 }}<br>
		  <a href="#"><label data-toggle="tooltip" title="The target (expected outcome)">Score T:</label></a>
			{{ eachquestion.target }}<br>
		  <a href="#"><label data-toggle="tooltip" title="Slightly worse than expected">Score W1:</label></a>
			{{ eachquestion.scoreneg1 }}<br>
		  <a href="#"><label data-toggle="tooltip" title="Much worse than expected">Score W2:</label></a>
			{{ eachquestion.scoreneg2 }}<br><hr>

		</div>
		{% endif %}
        {% empty %}
            {% if user|is_physician %}
                {% if at_least_1_goal == 'nogoal' %}
                    There are no strategies created for this patient. To begin, click on the Goal Attainment Wizard button.
                {% else %}
                    Currently, there are no strategies created for this patient. Make sure to set up and activate a goal before setting up the strategies.
                    <!-- Note: this message does not show up for Jannis. She has an active goal (which works well and shows up), but doesn't have any strategies. -->
                    <!-- Need to check if there are no questions with isgoalplanningdata flag set to zero. -->
                    <!-- This message is displayed when the list of questions is empty. Not displayed if the list contains anything (a goal or strategy with planning data), even only one of them. -->
                {% endif %}
            {% else %}
                There are no strategies created yet. You will find the detailed information about strategies when they are created and activated.
            {% endif %}
        {% endfor %}
	    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!--End strategy popup inforamtion -->

	<h4> <!-- Goal dropdown menus more information -->
	  <div class="dropdown">
	Goal
	    <button class="pull-right btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    
	      <span class="caret"></span>
	    </button>
	    <ul class="pull-right dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	      <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#goalModal">More Information</a></li>
	      <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Create</a></li>
	      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit</a></li>
	      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Select</a></li> -->
	    </ul>
	  </div>
	</h4>

<!-- End Goal dropdown menus more information -->
        <div id="symptoms" class="list-group">
	{% if at_least_1_goal == 'goalpresent'  %}
          {% for symptom in data %}
		{% if symptom.isgoalplanningdata == 1 %} 
          	    <a href="#" onClick="show_question(this)" class="symptom list-group-item inactive" id="{{symptom.datatag}}" data-tag="{{symptom.datatag}}">
			<span class="badge">{{ symptom.displayedscore }}</span>{{ symptom.key }}</a>
		{% endif %}
          {% endfor %}
	{% endif %}
        {% if user|is_physician %}
            {% if at_least_1_goal != 'nogoal' %}
                <a href="{% url 'followup_goaledit' graph_user.id %}" class="list-group-item inactive"><i class="glyphicon glyphicon-edit text-success" style="margin-right: 10px;"></i>Edit Goals</a>
            {% else %}
                <!-- -->
            {% endif %}
        {% endif %}
        </div>

        <h4>	  
	  <div class="dropdown">
	Strategies
	    <button class="pull-right btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    
	      <span class="caret"></span>
	    </button>
	    <ul class="pull-right dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
	      <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#strategyModal">More Information</a></li>
	      <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Create</a></li>
	      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit</a></li>
	      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Select</a></li> -->
	    </ul>
	  </div></h4>
        <div id="symptoms" class="list-group">
          {% for symptom in data %}
	    {% if symptom.isgoalplanningdata == 0 %}
              <a href="#" onClick="show_question(this)" class="symptom list-group-item inactive" id="{{symptom.datatag}}" data-tag="{{symptom.datatag}}">
		<span class="badge">{{ symptom.displayedscore }}</span>{{ symptom.key }}</a>
	    {% else %} 
	      <a href="#" onClick="show_question(this)" class="symptom list-group-item inactive" id="{{symptom.datatag}}" data-tag="{{symptom.datatag}}" style="display: none">{{ symptom.key }} | {{ symptom.displayedscore }} |</a>
	    {% endif %}

          {% endfor %}
    {% if user|is_physician %}
        {% if at_least_1_goal != 'nogoal' %}
            <a href="{% url 'followup_strategyedit' graph_user.id %}" class="list-group-item inactive"><i class="glyphicon glyphicon-edit text-success" style="margin-right: 10px;"></i>Edit Strategies</a>
        {% else %}
            <!-- -->
        {% endif %}
    {% endif %}
        </div>
      </div>
      <div class="col-md-12 col-sm-6">
        <h4>Data Analysis</h4>
        <div id="data-analysis" class="list-group">
          <a href="#" id="targ" class="list-group-item inactive">Target</a>
	<!-- {% if user|is_physician %}
	  <a href="#" id="gas" class="list-group-item inactive">GAS Score</a>
	{% endif %} -->
          <a href="#" id="avg" class="list-group-item inactive">Average</a>
          <a href="#" id="std" class="list-group-item inactive">Standard Dev</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'graph/js/d3.v3.js' %}"></script>
<script src="{% static 'graph/js/nv.d3.js' %}"></script>
<script src="{% static 'graph/js/tooltip.js' %}"></script>
<script src="{% static 'graph/js/utils.js' %}"></script>
<script src="{% static 'graph/js/legend.js' %}"></script>
<script src="{% static 'graph/js/axis.js' %}"></script>
<script src="{% static 'graph/js/scatter.js' %}"></script>
<script src="{% static 'graph/js/line.js' %}"></script>
<script src="{% static 'graph/js/lineWithFocusChart.js' %}"></script>
<script src="{% static 'graph/js/stream_layers.js' %}"></script>
<script>

var data = {{ data_json|safe }};
data.push({'key':'avg', 'color': 'rgba(52, 73, 94,0.7)', 'values':[], 'disabled': true});
data.push({'key':'std1', 'color': 'rgba(155, 89, 182,0.5)', 'values':[], 'disabled': true});
data.push({'key':'std2', 'color': 'rgba(155, 89, 182,0.5)', 'values':[], 'disabled': true});
data.push({'key':'targ', 'color': '#2ecc71', 'values':[], 'disabled': true});

nv.addGraph(function() {
  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);

  var chart = nv.models.lineWithFocusChart()
//          .forceY([-1,2]);
//          .forceX([, tomorrow]);

 // chart.transitionDuration(500);
  chart.xAxis
      .tickPadding(5)
      .tickFormat(function(d) {
          return d3.time.format('%x')(new Date(d))
        });
  chart.x2Axis
      .tickPadding(5)
      .tickFormat(function(d) {
          return d3.time.format('%x')(new Date(d))
        });

  chart.yAxis
      .tickPadding(5)
      .tickFormat(d3.format(',d'))
      .tickPadding(3);
  chart.y2Axis
      .tickPadding(5)
      .tickFormat(d3.format(',d'));

  d3.select('#chart svg')
      .datum(data)
      .call(chart);


  nv.utils.windowResize(chart.update);

  return chart;
});
</script>
{% endblock %}
