{% extends 'base.html' %}
{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - Graph{% endblock %}

{% block css %}
<link href="{% static 'graph/css/nv.d3.css' %}" rel="stylesheet" type="text/css">
<style>

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

svg {
  display: block;
}

#chart1 svg {
  height: 500px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 50px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}
.dl-horizontal.popover-dl dt{
  width: 50px;
}
.dl-horizontal.popover-dl dd {
  margin-left: 70px;
  margin-right: 20px;
}
.pop-comment {
  word-wrap: break-word;
}
.nv-legendWrap {
  display: none;
}
</style>
{{ block.super }}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<h2>

  Wellness Graph
  {% if user != graph_user %}
    - {% firstof graph_user.get_full_name graph_user.username|title %}
  {% endif %}

  
  {% if user|is_physician %}
  <a href="{% url 'gas_step1' graph_user.id %}">Goal Attainment </a>
  {% endif %}
 


</h2>
<hr />
<div class="row">
  <div id="graph" class="text-left col-md-9 gui-container">
    <div id="chart" class='with-3d-shadow with-transitions'>
      <svg style="height: 500px;"></svg>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 col-sm-6">

        <h4>Symptoms</h4>
        <div id="symptoms" class="list-group">
          {% for symptom in data %}
          <a href="#" class="symptom list-group-item inactive">{{ symptom.key }}</a>
          {% endfor %}
          {% if user|is_physician %}
          <a href="{% url 'new_question' graph_user.id %}" class="list-group-item inactive"><i class="glyphicon glyphicon-plus text-success" style="margin-right: 10px;"></i>Add Symptom</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-12 col-sm-6">
        <h4>Data Analysis</h4>
        <div id="data-analysis" class="list-group">
          <a href="#" id="targ" class="list-group-item inactive">Target</a>
          <a href="#" id="avg" class="list-group-item inactive">Average</a>
          <a href="#" id="std" class="list-group-item inactive">Standard Dev</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'graph/js/d3.v3.js' %}"></script>
<script src="{% static 'graph/js/nv.d3.js' %}"></script>
<script src="{% static 'graph/js/tooltip.js' %}"></script>
<script src="{% static 'graph/js/utils.js' %}"></script>
<script src="{% static 'graph/js/legend.js' %}"></script>
<script src="{% static 'graph/js/axis.js' %}"></script>
<script src="{% static 'graph/js/scatter.js' %}"></script>
<script src="{% static 'graph/js/line.js' %}"></script>
<script src="{% static 'graph/js/lineWithFocusChart.js' %}"></script>
<script src="{% static 'graph/js/stream_layers.js' %}"></script>
<script>

var data = {{ data_json|safe }};
data.push({'key':'avg', 'color': 'rgba(52, 73, 94,0.7)', 'values':[], 'disabled': true});
data.push({'key':'std1', 'color': 'rgba(155, 89, 182,0.5)', 'values':[], 'disabled': true});
data.push({'key':'std2', 'color': 'rgba(155, 89, 182,0.5)', 'values':[], 'disabled': true});
data.push({'key':'targ', 'color': '#2ecc71', 'values':[], 'disabled': true});

nv.addGraph(function() {
  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);

  var chart = nv.models.lineWithFocusChart()
//          .forceY([-1,2]);
//          .forceX([, tomorrow]);

 // chart.transitionDuration(500);
  chart.xAxis
      .tickPadding(5)
      .tickFormat(function(d) {
          return d3.time.format('%x')(new Date(d))
        });
  chart.x2Axis
      .tickPadding(5)
      .tickFormat(function(d) {
          return d3.time.format('%x')(new Date(d))
        });

  chart.yAxis
      .tickPadding(5)
      .tickFormat(d3.format(',d'))
      .tickPadding(3);
  chart.y2Axis
      .tickPadding(5)
      .tickFormat(d3.format(',d'));

  d3.select('#chart svg')
      .datum(data)
      .call(chart);


  nv.utils.windowResize(chart.update);

  return chart;
});
</script>
{% endblock %}
