{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - Surveys{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block content %}
<h2>Manage your surveys</h2>

    <center><a href="{% url 'create_survey' %}" class="list-group-item inactive"><i class="glyphicon glyphicon-plus text-success" style="margin-right: 10px;"></i>Create New Survey</a></center>
    <center><a href="{% url 'edit_survey' %}" class="list-group-item inactive"><i class="glyphicon glyphicon-pencil text-success" style="margin-right: 10px;"></i>Edit Survey</a></center>

{% endblock %}
