{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - GAS New Strategy{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'bootstrap-validator-master/dist/validator.js' %}"></script>
<script>
  // Initialize all tooltips on this page.
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}

{% block content %}
<h2>Goal Attainment Wizard Step 4 -
  {% if user|is_physician %}
  {% firstof patient.get_full_name patient.username|title %}
  {% endif %} -  New Strategy
</h2><br>

<ol class="breadcrumb">
  <li style="color:#9e9e9e">Step 1</li>
  <li style="color:#9e9e9e">Step 2</li>
  <li style="color:#9e9e9e">Step 3</li>
  <li>Step 4 - Identify Strategies</li>
  <li style="color:#9e9e9e">Step 5</li>
  <li style="color:#9e9e9e">Step 6</li>
</ol>



<h4><center>Identify and prioritize a new strategy</center></h4>
<h5><center>Goal - {{ selected_goal.goal1 }}</center></h5><br/>
<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'new_strategy' patient.id %}" method="post" data-toggle="validator">
    {% csrf_token %}

	{% if status.formerror %}
	<div class="alert alert-danger">
		<h3>Error in the data entered in the form. Please ensure that the title is not too long.</h3>
	</div>
	{% endif %}

	<div class="form-group">
         
	   <label for="goal" class="col-sm-3 control-label" data-toggle="tooltip" title="Create a title for the strategy">Strategy Title<sup>?</sup></label>
           <div class="col-sm-9">
             <input type="text" name="title" class="form-control" id="question" placeholder="E.g. Walking..." maxlength="32" required>
             <div class="help-block with-errors"></div>
	   </div>
</div>

<div class="form-group">
	   <label for="goal" class="col-sm-3 control-label" data-toggle="tooltip" title="Specify importance of this strategy">Importance<sup>?</sup></label>
           <div class="col-sm-2">
             <input type="text" name="importance" class="form-control" id="importance" placeholder="1-4" maxlength="1" pattern="[1-4]+" data-error="Specify a number on the scale 1 to 4" required>
             <div class="help-block with-errors"></div>
	    </div>
	   <div class="col-sm-7"><p class="help-block">1 = not important to 4 = extremely important</a></div>
</div>
<div class="form-group">
	   <label for="goal" class="col-sm-3 control-label" data-toggle="tooltip" title="Specify difficulty of achieving this strategy">Difficulty<sup>?</sup></label>
           <div class="col-sm-2">
             <input type="text" name="difficulty" class="form-control" id="difficulty" placeholder="1-4" maxlength="1" pattern="[1-4]+" data-error="Specify a number on the scale 1 to 4" required>
             <div class="help-block with-errors"></div>
	    </div>
  	   <div class="col-sm-7"><p class="help-block">1 = not difficult to 4 = extremely difficult</a></div>
	   </div>
<!-- Drop Down Select Question -->
<!--<div class="form-group">
    <label for="createanother" class="col-sm-3 control-label"></label>
    <div class="col-sm-9"><p>Would you like to create another strategy?</p>
      <select id="type" name="createanotherstrategy" class="form-control">
        <option value="yes">Yes, Create another strategy.</option>
        <option value="no">No, Continue to the next step.</option>
      </select>
    </div>
  </div>-->


<!--   Note:   some info from patient_list that i didnt like
  {% for patient in patients %}
  <a href="{% url 'user_graph' patient.user.id %}" class="list-group-item">{% firstof patient.user.get_full_name patient.user.username|title %}</a>
  {% endfor %} -->

</div>
<div class="submit text-center">
   <input value="Create Another Strategy" name="button" type="submit" class="btn btn-success btn-lg" style="margin-bottom:2px; ">
   <input value="Next" name="button" type="submit" class="btn btn-success btn-lg" style="margin-bottom:2px; ">
  </div>
</form>
</form>
{% endblock %}
