{% extends 'base.html' %}
{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - GAS Goal Planning{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'jquery/jquery.js' %}"></script>
<script>
  $(function() {
    $( "#type" ).change(function() {
      $(".conditional-questions > div").hide();
      $(".conditional-questions #" + $(this).val()).show();
    });
    $("#type").prop('selectedIndex', -1);
  });
  function add_category() {
    var num = $("#cat-list > input").length + 1;
    $("#cat-list").append('<input type="text" id="cat' + num + '" name="cat' + num + '" class="form-control" placeholder="Category ' + num + '">');
    $("#cat-list > input").last().focus();
  }

  // Initialize all tooltips on this page.
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}

{% block content %}
<h2>Goal Attainment Wizard Step 3
  {% if user|is_physician %}
   - {% firstof patient.get_full_name patient.username|title %}
   - {{ selected_goal.goal1 }}
  {% endif %}
</h2>

<ol class="breadcrumb">
  <li style="color:#9e9e9e">Step 1</li>
  <li style="color:#9e9e9e">Step 2</li>
  <li>Step 3 - Plan the Goal</li>
  <li style="color:#9e9e9e">Step 4</li>
  <li style="color:#9e9e9e">Step 5</li>
  <li style="color:#9e9e9e">Step 6</li>
</ol>

<h4><center><br>Goal's Planning - {{ selected_goal.goal1 }}<br><br></center></h4>

<form class="form-horizontal col-md-6 col-md-offset-3" action="{% url 'planning' patient.id %}" method="post">
    {% csrf_token %}

   <div class="form-group">
    <label for="title" class="col-sm-2 control-label" data-toggle="tooltip" title="Give a concise title to this goal">Title<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control" id="title" value="{{ selected_goal.goal1 }}">
    </div>
  </div>
  <div class="form-group">
    <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="The patient will be answering this question to track their progress">Question<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="text" class="form-control" id="question" placeholder="E.g. How many steps have you walked...">
      <p class="help-block">Type the question that you would like to appear to the user.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="Describe the question, give any hints or instructions">Description<sup>?</sup></label>
    <div class="col-sm-10">
      <input type="text" name="description" class="form-control" id="description" placeholder="E.g. Answer on a scale of 1-10">
    </div>
  </div>
          
	   <div class="form-group">
           <label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the current baseline situation of the patient?">Baseline<sup>?</sup></label>
           <div class="col-sm-10">
             <input type="text" name="baseline" class="form-control" id="question" placeholder="Enter the current baseline...">
             
           </div>
         </div>

	  <div class="form-group">
	    <label for="description" class="col-sm-2 control-label" data-toggle="tooltip" title="What is the target outcome of this goal?">Target<sup>?</sup></label>
	    <div class="col-sm-10">
	      <input type="text" name="goal" class="form-control" id="goal" placeholder="Set the target value...">
	    </div>
	  </div>

         <div class="New Patient Information">
           <div class="form-group">
           <label for="goal" class="col-sm-2 control-label" data-toggle="tooltip" title="Time to reach the target (in days)">Timeline<sup>?</sup></label>
           <div class="col-sm-10">
             <input type="text" name="timeline" class="form-control" id="question" placeholder="Set timeline in days...">
           </div>
         </div>

        <div class="form-group">
          <label for="question" class="col-sm-2 control-label" data-toggle="tooltip" title="Indicator that will be used to track and evaluate the performance in this goal">Indicator<sup>?</sup></label>
          <div class="col-sm-10">
            <input type="text" name="indicator" class="form-control" id="question" placeholder="Specify indicator...">
          </div>
         </div>

<div class="form-group">
    <label for="question_type" class="col-sm-2 control-label" data-toggle="tooltip" title="Choose the type of the question">Question Type<sup>?</sup></label>
    <div class="col-sm-10">
      <select id="type" name="type" class="form-control">
        <option value="slider">Slider</option>
        <option value="boolean">Yes / No</option>
        <option value="integer">Numerical</option>
      </select>
    </div>
  </div>
  <div class="conditional-questions">
    <div id="slider" class="form-group" style="display: none;">
      <p class="help-block">Give the upper and lower bound for the slider, as well as the increment.</p>
      <div class="row text-center">
        <div class="col-sm-4">
          <label for="slider-min_value">Lower Bound</label>
          <input type="text" name="min_value" id="slider-min_value" class="form-control text-center" value="0">
        </div>
        <div class="col-sm-4">
          <label for="slider-max_value">Uppper Bound</label>
          <input type="text" name="max_value" id="slider-max_value" class="form-control text-center" value="100">
        </div>
        <div class="col-sm-4">
          <label for="slider-increment">Increment</label>
          <input type="text" name="increment" id="slider-increment" class="form-control text-center" value="5">
        </div>
      </div>
    </div>
    <div id="category" class="form-group" style="display: none;">
      <p class="help-block">Add categories for this question</p>
      <div id="cat-list">
        <input type="text" id="cat1" name="cat1" class="form-control" placeholder="Category 1">
      </div>
      <div class="text-center">
        <a href="#" onClick="add_category()" class="btn btn-default text-center"><i class="glyphicon glyphicon-plus text-success"></i> Add Category</a>
      </div>
    </div>
    <div id="integer" class="form-group" style="display: none;">
      <label for="units" class="col-sm-2 control-label" data-toggle="tooltip" title="Enter the units for this question">Units<sup>?</sup></label>
      <div class="col-sm-10">
        <input type="text" name="units" id="units" class="form-control" placeholder="E.g. kg, hours, snacks...">
      </div>
    </div>

<!--Bootstrap Table, should scale with mobile devices-->
<table>
	<thead>
	<tr>
		<th>Outcome Achievement</th>
		<th>Expected Level of Achievement</th>
		<th>Scaling</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Much more than expected</td>
	        <td>
		<div class="col-sm-9">
                <input type="text" name="scorepos2" class="form-control" id="question" placeholder="">
                </div>
                </td>
		<td>M2</td>
	</tr>

	<tr>
		<td>Slightly more than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scorepos1" class="form-control" id="question" placeholder="">
                </div>
		</td>
		<td>M1</td>
	</tr>

	<!-- The value from this input is not recorded, because this is the same as target.
     	Instead, the value of the target is used througout the app. -->
	<tr>
		<td>Expected Outcome (Target)</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="same-as-target" class="form-control" id="question" placeholder="">
                </div>
		</td>
		<td>T</td>
	</tr>
	
	<tr>
		<td>Slightly less than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg1" class="form-control" id="question" placeholder="">
                </div>
		</td>
		<td>L1</td>
	</tr>

	<tr>
		<td>Much less than expected</td>
		<td>
		<div class="col-sm-9">
                <input type="text" name="scoreneg2" class="form-control" id="question" placeholder="">
                </div>
		</td>
		<td>L2</td>
	</tr>
	</tbody>
</table>


  </div>
  <div class="submit text-center">
    <input value="Next" type="submit" class="btn btn-lg btn-success"></input>
  </div>
</form>
{% endblock %}
