{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - User Profile {% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'new_question.css' %}">
{% endblock %}

{% block content %}

<h2>User Profile - 
{% firstof profile_user.get_full_name profile_user.username|title %}
</h2>

    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-9">
            <p>Password updated successfully!</p>
        </div>
    </div>
    
{% endblock %}
