{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - Start GAS{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block content %}

{% if status.patient_created %}
    <div class="alert alert-success" role="alert">
        <center><span class="glyphicon glyphicon-ok-sign"></span>
        <b>Account has been created successfully!</b></center>
    </div>
{% endif %}

<br><center><h2>Start Goal Attainment Scale for {% firstof patient.user.get_full_name patient.user.username|title %}?</h2></center>
<hr />

<center><a href="{% url 'gas_step1' patient.user.id %}" class="btn btn-primary btn-lg">Goal Attainment Wizard</a></center></br>
<center><a href="{% url 'patient_list' %}" class="btn btn-lg btn-success">Back to Patient's List</a></center>

{% endblock %}
