{% extends 'base.html' %}

{% load static %}
{% load wt_extras %}

{% block title %}{{ block.super }} - Start GAS{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block content %}
<h2>Start Goal Attainment Scale for {% firstof patient.user.get_full_name patient.user.username|title %}?</h2>
<hr />

<center><a href="{% url 'gas_step1' patient.user.id %}" class="btn btn-info btn-lg">Goal Attainment Wizard</a></center></br>
<center><a href="{% url 'patient_list' %}" class="btn btn-lg btn-success">Back to Patient's List</a></center>

{% if status.patient_created %}
    <script type="text/javascript">
        $.notify.defaults({ globalPosition: "top center" });
        $.notify("Patient has been created successfully", "success");
    </script>
{% endif %}

{% endblock %}
